body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #0e0c0c;
    color: #d9d9d9;
    text-align: center;
    margin: 50px;
}

.container {
    max-width: 600px;
    margin: 0 auto;
}
.container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('smoke.png') repeat;
    opacity: 0.6;
    z-index: -1;
    animation: drift 30s infinite linear;
}

@keyframes drift {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 100% 0;
    }
}

.panel {
    background-color: #292929;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #8a8989;
}

.header {
    font-size: 36px;
    margin-bottom: 20px;
}

.inputField {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #292929;
    border-radius: 5px;
    background-color: #8a8989;
    color: #d9d9d9;
}

.submitButton {
    padding: 10px 20px;
    background-color: #0000008e;
    color: #d9d9d9;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 18px;
}

.submitButton:hover {
    background-color: #aca3a3;
}

